.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

.cards .card {
  border: 2px solid var(--black);
  margin: 10px;
  max-width: 400px;
  transition: 0.2s;
}

.card:hover, .card:focus, .card:active {
  border-color: var(--green);
}

.card:hover .arrow, .card:focus .arrow, .card:active .arrow {
  padding-left: 10px;
}

.card img {
  width: inherit;
  height: auto;
}

.text {
  padding: 10px;
}

.cta {
  color: var(--green);
  margin-top: 30px;
  display: inline-flex;
  align-items: center;
}

.arrow {
  width: 50px;
  height: 30px;
  padding-left: 0;
  transition: 0.2s;
}