.feed {
  display: flex;
  justify-content: center;
}

.feed blockquote {
  text-align: center;
}

.feed iframe, .feed div {
  width: 500px;
}

@media screen and (max-width: 600px) {
  .feed iframe, .feed div {
    width: 320px;
  }
}