.gallery {
  max-width: 1200px;
  padding: 0 30px;
}

.thumbnails {
  display: flex;
}

.thumbnails img {
  width: 200px;
  height: auto;
}

.thumbnail {
  padding: 1px;
}

.main {
  width: 100%;
  height: auto;
}

.highlight {
  border: 4px solid var(--green)!important;
}