.gallery {
  max-width: 1600px;
}

.thumbnails {
  display: flex;
}

.thumbnails img {
  width: 200px;
  height: auto;
}

.thumbnail {
  padding: 1px;
}

.main {
  width: 100%;
  height: auto;
}

.main img {
  width: inherit;
}