:root {
  --green: #176f13;
  --black: #080808;
  --white: #f8f8f8;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Segoe UI, Roboto, sans-serif;
}

textarea {
  font-family: Segoe UI, Roboto, sans-serif;
}
input[type=text] {
  font-family: Segoe UI, Roboto, sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 8px 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 16px;
}



.container {
  display: grid;
  grid-template-rows: auto auto 240px;
  grid-template-columns: 100%;
  justify-content: center;
  height: 100vh;
}

section {
  margin: 60px auto;
}

header {
  background: green;
}

header section {
  text-align: center;
  color: #fff;
  margin: 60px auto 120px auto;
}

header section button {
  color: #fff;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 60px;
  padding: 0px 40px;
}

button {
  cursor: pointer;
}



main {
  max-width: 2560px;
  justify-self: center;
}

.sub-heading {
  text-align: center;
  padding-top: 60px;
}






.fade h5, .fade p  {
  opacity: 0!important;
}