.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;
}

.icons .icon {
  margin: 20px;
  width: 300px;
  text-align: center;
}

.icon svg {
  fill: var(--green);
  width: 200px;
  height: 200px;
}

.card img {
  width: inherit;
  height: auto;
}

.text {
  padding: 10px;
}